<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti dicta facere quaerat in optio fugiat quod iusto aspernatur. At porro culpa perspiciatis est illum quis exercitationem rem, nesciunt vero accusantium. Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Asperiores maxime ratione nobis, quia ullam vero maiores accusantium quaerat repudiandae inventore voluptatibus ipsum sed autem dolor natus ipsam! Eligendi, reprehenderit consequuntur.</p>