<h1 class="animated fadeIn fast">Resultados de: <small>{{resultado}}</small></h1>
<hr>
<div *ngIf="heroesArr.length == 0" class="alert alert-danger" role="alert">
    No se han encontrado resultados con el termino: {{resultado}}
</div>
<div *ngIf="heroesArr.length !== 0" class="card-columns animated fadeIn">
    <div class="card" *ngFor="let heroe of heroesArr; let i = index">
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title">{{heroe.nombre}}</h5>
            <p class="card-text">{{heroe.bio}}</p>
            <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
            <button class="btn btn-outline-primary btn-block">
                Ver Heroe...
            </button>
        </div>
    </div>
</div>